@font-face {
  font-family: 'Noto Sans KR';
  src: url('~assets/fonts/NotoSansKR-Regular.eot') format('eot'),
    url('~assets/fonts/NotoSansKR-Regular.otf') format('otf'),
    url('~assets/fonts/NotoSansKR-Regular.ttf') format('ttf'),
    url('~assets/fonts/NotoSansKR-Regular.woff') format('woff'),
    url('~assets/fonts/NotoSansKR-Regular.woff2') format('woff2');
}

html {
  height: 100%; // CK Template Custom
}

body {
  font-family: 'Noto Sans KR', 'arial', 'sans-serif';
  font-size: 14px;
  height: 100%; // CK Template Custom
  margin: auto;
  max-width: 1080px;
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
